
@font-face {
    font-family: 'nevis';
    src: url('../fonts/nevis-Bold.eot');
    src: url('../fonts/nevis-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/nevis-Bold.woff2') format('woff2'), url('../fonts/nevis-Bold.woff') format('woff'), url('../fonts/nevis-Bold.ttf') format('truetype'), url('../fonts/nevis-Bold.svg#nevis-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova regular';
    src: url('../fonts/webfonts/3841C7_11_0.eot');
    src: url('../fonts/webfonts/3841C7_11_0.eot?#iefix') format('embedded-opentype'), url('../fonts/webfonts/3841C7_11_0.woff2') format('woff2'), url('../fonts/webfonts/3841C7_11_0.woff') format('woff'), url('../fonts/webfonts/3841C7_11_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Proxima Nova medium';
    src: url('../fonts/webfonts/3841C7_E_0.eot');
    src: url('../fonts/webfonts/3841C7_E_0.eot?#iefix') format('embedded-opentype'), url('../fonts/webfonts/3841C7_E_0.woff2') format('woff2'), url('../fonts/webfonts/3841C7_E_0.woff') format('woff'), url('../fonts/webfonts/3841C7_E_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Proxima Nova semibold';
    src: url('../fonts/webfonts/3841C7_15_0.eot');
    src: url('../fonts/webfonts/3841C7_15_0.eot?#iefix') format('embedded-opentype'), url('../fonts/webfonts/3841C7_15_0.woff2') format('woff2'), url('../fonts/webfonts/3841C7_15_0.woff') format('woff'), url('../fonts/webfonts/3841C7_15_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Proxima Nova bold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* html,
body {
    height: 100%;
} */

* {
    outline: none !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: antialiased !important;
}

body {
    background-color: #f4f7ff;
    font-family: 'Proxima Nova regular';
    font-size: 18px;
    color: #4a4a4a;
}

a:focus,
a:hover {
    color: inherit;
    text-decoration: none;
}

input {
    border-radius: 7px;
}

ul.clear {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.clear li {
    position: relative;
}

label {
    font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.bold,
b {
    font-family: 'Proxima Nova bold';
}

.medium {
    font-family: 'Proxima Nova medium' !important;
}

.semibold {
    font-family: 'Proxima Nova semibold' !important;
}

/*------------ custome predefine -----------*/

.text-line-through {
    text-decoration: line-through !important;
}

.border-radius-0 {
    border-radius: 0px !important;
}

.text-underline {
    text-decoration: underline !important;
}

input[type="date"].form-control,
input[type="time"].form-control,
input[type="datetime-local"].form-control,
input[type="month"].form-control {
    line-height: 24px;
}

/*---- Theme font colors ----*/

.theme-black {
    color: #4a4a4a !important;
}

.theme-black-light {
    color: #9b9b9b;
}

.black {
    color: #000000 !important;
}

.theme-green,.theme-green a {
    color: #1fab5b !important;
}

a.theme-green:hover {
    color: #4361a5;
}

.theme-blue {
    color: #5f78b2 !important;
}

.required,
.red,
.red:hover,
.red:focus,
.red:active{
    color: #d0021b;
}

.f-12 {
    font-size: 12px !important;
}

.f-13 {
    font-size: 13px !important;
}

.f-14 {
    font-size: 14px !important;
}

.f-15 {
    font-size: 15px !important;
}

.f-16 {
    font-size: 16px !important;
}

.f-18 {
    font-size: 18px !important;
}

.f-19 {
    font-size: 19px !important;
}

.f-20 {
    font-size: 20px !important;
}

.opacity-15 {
    opacity: 0.15;
}

.opacity-85 {
    opacity: 0.85;
}

.opacity-1 {
    opacity: 1 !important;
}

.visibility-hidden {
    visibility: hidden;
}

/*---- Theme background colors ----*/
.bg-light-gray{
    background-color: #eee;
}
.theme-bg-off-white,
.even-odd-row tr.inner-td:nth-child(2n+1),
.even-odd-row-1 tr.inner-td:nth-child(2n+2),
.OMO tr.inner-td:nth-child(n+2) {
    background-color: #fafafa;
}

.theme-bg-blue-light {
    background-color: rgba(112, 127, 184, 0.3);
}

.theme-bg-green {
    background-color: #1fab5b !important;
}

.theme-bg-green-light {
    background-color: #d9eee2;
}

.theme-bg-blue {
    background-color: #7289bc;
}

.theme-bg-blue-1 {
    background-color: #707FB8;
}

.theme-bg-blue-light-opacity-15 {
    background-color: rgba(112, 127, 184, 0.15);
}

.blue-select {
    background: #f4f7ff;
}
.theme-bg-green,.green-btn {
    background-color: #1fab5b;
}
.theme-bg-orange,.orange-btn {
    background-color: #ffb400;
}
/* ----------- checkbox -------------- */

/* The container */
.checkbox-mb-0 .checkbox-container {
    margin-bottom: 0px;
}
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 25px;
}

/* Hide the browser's default checkbox */

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    left: 0;
    height: 25px;
    width: 25px;
    transition: all 0.3s ease-in-out;
    top: 2px;
    background: transparent;
    border: 2px solid rgba(112, 127, 184, 0.5);
    border-radius: 5px;
}

.checkmark.red {
    border: 2px solid #d0021b;
}

/* On mouse-over, add a grey background color */

.checkbox-container:hover input~.checkmark {
    transition: all 0.3s ease-in-out;
}

/* When the checkbox is checked, add a blue background */

.checkbox-container input:checked~.checkmark {
    background-color: #707fb8;
    border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.checkbox-container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.checkbox-container .checkmark:after {
    left: 8px;
    top: 4px;
    width: 8px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.no-tick .checkbox-container .checkmark:after{
    content: unset;
}
.no-tick .checkmark {
    height: 20px;
    width: 20px;
    top:-1px;
}

.no-tick.list-checkbox p {
    line-height: 14px;
    margin-bottom: 0;
    word-break: break-all;
}
.no-tick li:nth-child(odd) {
    padding-right: 0px;
}
/* ----------- button -------------- */

.blue-btn,
.blue-btn:focus,
.blue-btn-inverse:hover {
    background-color: #4361a5;
    color: #fff;
    padding: 3px 20px 5px;
    border-radius: 90px;
    font-size: 18px;
    border: 1px solid #4361a5;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}

.blue-btn-inverse,
.blue-btn:hover {
    background-color: #fff;
    color: #4361a5;
    border: 1px solid #4361a5;
    padding: 3px 20px 5px;
    border-radius: 90px;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    cursor: pointer;
}

.blue-btn.btn-normal-h-30,
.blue-btn-inverse.btn-normal-h-30 {
    padding: 0px 20px 3px;
}

.bold.text-uppercase.btn-normal-h-30 {
    padding: 3px 20px 0px;
}

.table a.blue-btn,
.table a.blue-btn-inverse {
    display: inline-block;
    padding: 0px 20px 3px;
}

.table a.blue-btn.f-14,
.table .blue-btn-inverse.f-14 {
    padding: 3px 20px 5px;
}

.cancel-btn {
    color: #9b9b9b;
    border-color: #9b9b9b;
    background-color: #fff;
}

.cancel-btn.active,
.cancel-btn:active,
.cancel-btn:hover,
.cancel-btn:focus {
    color: #fff;
    border-color: #9b9b9b;
    background-color: #9b9b9b;
}

.blue-border {
    border: 1px solid #707fb8;
}

.blue-border-top {
    border-top: 2px solid rgb(183, 190, 219) !important;
}

.blue-border-bottom {
    border-bottom: 2px solid rgb(183, 190, 219) !important;
}

.blue-border-left {
    border-left: 2px solid #c0c7e1 !important;
}

.dark-blue-border {
    border: 2px solid #707fb8;
}

.gray-border-bottom {
    border-bottom: 1px solid #979797;
}

/* ------------- Model ------------- */

.modal-header,
.modal-body {
    padding: 20px;
    border-bottom: 1px solid #707fb8;
}

.modal-footer {
    border: none;
}

.modal-backdrop.in {
    filter: alpha(opacity=0.15);
    opacity: .15;
}

.modal-content {
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
    border: none;
    border-radius: 2px;
}

.modal .table>tbody>tr>td:first-child,
.modal .table>tbody>tr>th:first-child,
.modal .table>tfoot>tr>td:first-child,
.modal .table>tfoot>tr>th:first-child,
.modal .table>thead>tr>td:first-child,
.modal .table>thead>tr>th:first-child {
    padding-left: 20px;
}

.modal tr.inner-td {
    border-bottom: 1px solid #707fb8;
}

/* ------------- height ------------- */

.mh-200 {
    max-height: 200px;
    overflow: hidden;
}

.mh-160 {
    max-height: 160px;
    overflow: hidden;
}

.w-20 {
    width: 20% !important;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.w-20-px {
    width: 20px !important;
}

.w-30-px {
    width: 30px !important;
}

.w-40-px {
    width: 40px !important;
}

.w-50-px {
    width: 50px !important;
}

.w-60-px {
    width: 60px !important;
}

.w-70-px {
    width: 70px !important;
}

.w-75-px {
    width: 75px !important;
}

.w-80-px {
    width: 80px !important;
}

.w-90-px {
    width: 90px !important;
}

.w-100-px {
    width: 100px !important;
}

.w-100-40 {
    width: calc(100% - 40px) !important;
}

.w-110 {
    width: 110px !important;
}

.w-120-px {
    width: 120px !important;
}

.w-130-px {
    width: 130px !important;
}

.w-135-px {
    width: 135px !important;
}

.w-140-px {
    width: 140px !important;
}

.w-150-px {
    width: 150px !important;
}
.w-155-px {
    width: 155px !important;
}

.w-160-px {
    width: 160px !important;
}

.w-170-px {
    width: 170px !important;
}
.w-180-px {
    width: 180px !important;
}

.w-200-px {
    width: 200px !important;
}

.wh-30 {
    display: inline-block;
    width: 30px !important;
    height: 30px;
}
.h-70-px {
    height: 70px;
}
.lh-15 {
    line-height: 15px !important;
}
.lh-30 {
    line-height: 30px;
}

.px-25 {
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.mb-25 {
    margin-bottom: 25px;
}

.mr-5-px {
    margin-right: 5px;
}

.pb-50-px {
    padding-bottom: 50px;
}
.mt-20-px {
    margin-top: 20px;
}
/*------------ custome predefine -----------*/

.main-section.d-flex {
    padding-top: 80px;
}

/*------------ header -----------*/

header {
    position: relative;
    z-index: 2;
}

header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.navbar-default .navbar-nav>li>a {
    font-size: 18px;
    padding-top: 16.5px;
    padding-bottom: 16.5px;
    color: #4a4a4a;
}

a.navbar-brand.theme-green {
    font-family: 'nevis';
    font-size: 37px;
    padding: 0px;
    height: inherit;
    letter-spacing: 1.3px;
    line-height: 29px;
}

.admin-text {
    font-size: 18px;
    vertical-align: middle;
    height: 30px;
    display: inline-block;
    line-height: 27px;
    font-family: 'Proxima Nova bold';
}

.profile-pic {
    display: inline-block;
    width: 50px;
    margin-right: 12px;
}

header .navbar-default .navbar-nav>.open>a,
header .navbar-default .navbar-nav>.open>a:focus,
header .navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent;
}

ul.dropdown-menu.header-menu {
    background-color: transparent;
    top: 5px;
    padding-top: 75px;
    right: -15px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    width: 205px;
}

ul.dropdown-menu.header-menu li {
    background-color: #fff;
    position: relative;
}

ul.dropdown-menu.header-menu li:first-child {
    margin-top: -1px;
}

ul.dropdown-menu.header-menu li:first-child::before {
    border-top: 1px solid #4a4a4a;
    content: '';
    left: 15px;
    right: 15px;
    top: 0px;
    position: absolute;
    opacity: 0.5;
}

ul.dropdown-menu.header-menu li a {
    line-height: 40px;
    font-size: 16px;
    color: #4a4a4a;
}

ul.dropdown-menu.header-menu li a:hover {
    background-color: transparent;
}

ul.dropdown-menu.header-menu li a span {
    display: inline-block;
    margin-right: 15px;
    vertical-align: bottom;
}

.profile-pic+span img {
    width: 13px;
}

/*------------ header -----------*/

/*------------ Login-section -----------*/

.login-wrapper {
    width: 587px;
    margin-top: 177px;
    margin-left: auto;
    margin-right: auto;
}

.login-wrapper .card-body label {
    font-size: 14px;
}

.login-wrapper .card-body input[type=text],
.login-wrapper .card-body input[type=password] {
    margin-right: 0px;
    padding: 5px 10px;
    color: #000;
    font-size: 19px;
}

.login-wrapper .card-body .form-control {
    height: 39px;
}

.login-wrapper label.checkbox-container {
    display: inline-block;
    padding-left: 45px;
    margin-bottom: 0;
    height: 27px;
    line-height: 27px;
    font-size: 18px;
    font-weight: 400;
}

/*------------ Login-section -----------*/

/*------------ left-sidebar -----------*/

.left-sidebar {
    width: 100%;
    max-width: 340px;
    background-color: #fff;
    z-index: 1;
    position: fixed;
    top: 80px;
    bottom: 0;
}

.left-sidebar .panel.panel-default {
    margin: 0px;
    border-radius: 0px;
    border: none;
    background: #fff;
    box-shadow: none;
}

.left-sidebar .panel-default>.panel-heading {
    background: transparent;
    border: none;
    border-radius: 0px;
    padding: 0px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.left-sidebar .panel-default>.panel-heading::before {
    content: '';
    transition: all 0.3s ease-in-out;
}

.left-sidebar .panel-default>.panel-heading a {
    height: 68px;
    padding-left: 35px;
    color: #a2a2a2;
}

.left-sidebar .panel-default>.panel-heading a h4 {
    font-size: 21px;
    font-family: 'Proxima Nova regular';
}

.left-sidebar .panel-default>.panel-heading.active a,
.sub-menu li a:hover,
.sub-menu li a:active,
.sub-menu li a:focus,
.left-sidebar .panel-default>.panel-heading:hover a {
    color: #1fab5b;
}

.left-sidebar .panel-default>.panel-heading:focus a {
    background-color: #ECEDF3;
}

.left-sidebar .panel-default>.panel-heading.active,
.left-sidebar .panel-default>.panel-heading:hover {
    background-color: #d9eee2;
    color: #1fab5b;
}

/* .left-sidebar .panel-default>.panel-heading:hover a h4,
.left-sidebar .panel-default>.panel-heading.active a h4 {
} */

.sidebar-icon {
    width: 100%;
    max-width: 25px;
    display: inline-block;
    margin-right: 30px;
    height: 30px;
}

.sidebar-icon img {
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

.left-sidebar .panel-heading.active::before,
.left-sidebar .panel-heading:hover::before {
    content: '';
    position: absolute;
    width: 10px;
    top: 0;
    bottom: 0;
    background: #1fab5b;
}

.sub-menu li a {
    padding: 10px 0px 10px 90px;
    display: block;
    font-size: 21px;
    color: #a2a2a2;
}

.sub-menu li:last-child {
    border-bottom: 2px solid #dbdfee;
}

/*------------ left-sidebar -----------*/

/*------------ right-sidebar -----------*/

.rigth-sidebar {
    background-color: #f4f7ff;
    width: 100%;
    position: relative;
    padding: 40px;
    padding-bottom: 10px;
    margin-left: 340px;
    height: 100%;
    overflow: visible;
}

/*------------ right-sidebar -----------*/

/*------------ card -----------*/

.card .title {
    text-transform: uppercase;
    padding: 25px 20px 25px 30px;
    margin: 0;
    font-size: 20px;
    letter-spacing: 0.95px;
    color: #4a4a4a;
    font-weight: 700;
}

h1.card-subtitle {
    text-transform: capitalize;
    font-size: 20px;
}

.card-body-15 {
    padding: 20px 20px 20px 15px;
}

.card-body {
    padding: 20px 20px 20px 30px;
}

.card-footer {
    padding: 20px 20px 20px 30px;
    border: none;
}

input[type=text],
.card input[type=text],
.card input[type=email],
input[type=password],
.card input[type=date],
textarea.form-control {
    flex-grow: 1;
    margin-right: 20px;
    border: 1px solid #4361a5;
    padding-left: 15px;
    height: 30px;
    color: #000;
    box-shadow: none;
}
.card table input[type=text] {
    padding-left: 5px;
}

.card table.table tr>td>input[type=text]+input[type=text] {
    margin-top: 10px;
}

.card table.table tr>td>.sbHolder~.sbHolder {
    margin-top: 10px;
}

textarea.form-control {
    height: auto;
    resize: none;
}

.card-subtitle,
.table>tbody>tr>td.card-subtitle {
    margin: 0;
    padding: 20px 20px 20px 30px;
}

.card-subtitle h3 {
    margin: 0px;
    font-size: 17px;
    color: #4361a5;
    text-transform: capitalize;
    font-family: 'Proxima Nova bold';
}

.card-subtitle p {
    margin-bottom: 0px;
    color: #9b9b9b;
}

.search-wrapper label {
    color: #707fb8;
    margin-bottom: 5px;
    font-size: 14px;
}

.search-wrapper input,
.search-wrapper select,
.sbHolder {
    background-color: #fff;
    padding: 0px 5px 3px;
    border: 1px solid #707fb8;
    border-radius: 3px;
    color: #4a4a4a;
    height: 30px;
}

.sbHolder {
    padding: 0px;
    position: relative;
    width: 100%;
}

.sbHolder a.sbSelector {
    display: block;
    padding: 0px 15px 1px 15px;
    position: relative;
    font-size: 14px;
    line-height: 27px;
    color: #4a4a4a;
    height: 30px;
    overflow: hidden;
}
table .sbHolder a.sbSelector {
   padding-left: 5px;
}
.sbHolder a.sbSelector::after {
    content: '';
    border-top: 8px solid #000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    right: 5px;
    top: 10px;
}

.sbOptions {
    padding: 5px 0px;
    list-style: none;
    margin: 0px;
    background: #f4f7ff;
    position: absolute;
    left: -1px;
    top: 100% !important;
    right: -1px;
    border: 1px solid #707fb8;
    z-index: 2;
    max-height: 250px;
    overflow-y: auto;
}

.sbOptions li:first-child {
    /* display: none; */
}

.sbOptions a {
    display: block;
    color: #4a4a4a;
    padding: 0px 10px;
    font-size: 14px;
    line-height: 22.5px;
}

.sbOptions a:hover {
    color: #1fab5b;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border: none;
    position: relative;
}

.card table>thead>tr>th:first-child,
.card table>tbody>tr>td:first-child {
    padding-left: 30px !important;
}

.card table>thead>tr>th:last-child,
.card table>tbody>tr>td:last-child {
    padding-right: 20px;
}

.card table>thead>tr>th {
    font-size: 12px;
    font-family: 'Proxima Nova bold';
    line-height: 35px;
    padding: 0px 8px;
}

tr.inner-td td {
    font-size: 14px;
}

.card table>tbody>tr.inner-td>td:not(:last-child) {
    border-right: 1px solid rgba(112, 127, 184, 0.5);
}

.card table>thead.no-border>tr>th,
.card table>tbody.no-border>tr.inner-td>td {
    border-right: none;
    position: relative;
}
table.no-border>thead>tr>th,
table.no-border>tbody>tr.inner-td>td,
table.no-border>tbody>tr.inner-td{
    border: none !important;
}


.card table>tbody>tr.no-y-padding td {
    padding-top: 0px;
    padding-bottom: 0px;
}

tr.inner-td {
    border-bottom: 2px solid rgb(183, 190, 219);
}

.last-border-none tbody tr.inner-td:last-child,
.bundle table.last-border-none>tbody>tr.inner-td:last-child,
.bundle table.last-border-none>tbody>tr.inner-td:last-child td{
    border-bottom: none;
}

.table-total {
    padding: 20px 20px 20px 30px;
}

.table-total p {
    margin-bottom: 0px;
    max-width: 150px;
    margin-left: auto;
    text-align: left;
    font-size: 14px;
    line-height: 26px;
}

.table.border-none>tbody>tr>td,
.table.border-none>tbody>tr,
.card .table>tbody>tr.td-border-none>td,
tr.inner-td.td-border-none {
    border: none !important;
}

.table>tbody>tr.pt-10-td>td {
    padding-top: 10px;
}

.table>tbody>tr.pt-20-td>td {
    padding-top: 20px;
}

.table>tbody>tr.pt-30-td>td {
    padding-top: 30px;
}

.table>tbody>tr.pb-10-td>td {
    padding-bottom: 10px;
}

.table>tbody>tr.pb-20-td>td {
    padding-bottom: 20px;
}

.table>tbody>tr.pb-30-td>td {
    padding-bottom: 30px;
}

.table>tbody>tr.py-10-td>td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.table>tbody>tr.py-20-td>td {
    padding-top: 20px;
    padding-bottom: 20px;
}

.table>tbody>tr.py-30-td>td {
    padding-top: 30px;
    padding-bottom: 30px;
}

.table>tbody>tr.vertical-align-middle>td,
.table>thead>tr.vertical-align-middle>th,
.card table.vertical-align-middle>tbody>tr>td,
.card table.vertical-align-middle>thead>tr>th {
    vertical-align: middle !important;
}

.card .list-group {
    margin-bottom: 0px;
}

.card .list-group-item:first-child,
.card .list-group-item:last-child {
    border-radius: 0px;
}

.card .list-group-item {
    position: relative;
    display: block;
    padding: 15px 30px;
    margin-bottom: 0px;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #d4d8ea;
    font-size: 18px;
    font-family: 'Proxima Nova bold';
    color: #4361A5;
}

.card .list-group-item a {
    color: #4361A5;
    line-height: 30px;
}

/*------------ Evaluations -----------*/

.evaluations .card table>tbody>tr.inner-td>td:first-child {
    width: 50px;
}

.evaluations .card table>tbody>tr.inner-td>td:first-child {
    padding-left: 10px;
    text-align: center;
}

/*------------ Evaluations -----------*/

/*------------ Bundle -----------*/

.bundle .card table>thead>tr>th,
.padding-heading .card table>thead>tr>th {
    font-size: 15px;
}

.bundle .card table>thead>tr>th:not(:last-child),
.padding-heading table>thead>tr>th:not(:last-child) {
    border-right: 1px solid rgb(183, 190, 219);
}

.bundle .card table>thead>tr>th:first-child,
.bundle .card table>thead>tr>td:first-child {
    width: 80px;
}

.bundle .card table>thead>tr>th,
.bundle .card table>tbody>tr>td,
.padding-heading table>thead>tr>th {
    height: 60px;
    vertical-align: middle;
}

.bundle .card table>tbody>tr>td {
    vertical-align: top;
}

.card table>tbody>tr.vertical-align-middle-td td {
    vertical-align: middle;
}

.bundle .card table>thead>tr>th:not(:first-child) {
    padding-left: 10px;
}

.bundle table.first-child-border-0>tbody>tr.inner-td:first-child,
.bundle table.first-child-border-0>tbody>tr.inner-td:first-child td {
    border: 0px;
}

.bundle .sbHolder {
    width: inherit;
}

.bundle .sbHolder a.sbSelector {
    height: 30px;
    overflow: hidden;
    width: inherit
}

.bundle .checkmark {
    top: 0px;
}

/* .bundle table>tbody>tr>td>div img, */
/* .bundle  */
table>tbody>tr>td>div a img {
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.bundle table>tbody>tr>td>div a:last-child img {
    margin-right: 0px;
}

.m-select li.f-12 {
    display: block;
    height: 20px;
    overflow: hidden;
    cursor: pointer;
    word-break: break-all;
}

.m-select li.f-12.active {
    background-color: #d4d8ea;
    margin-right: -5px;
    margin-left: -5px;
    padding-left: 5px;
    padding-right: 5px;
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
    font-family: 'Proxima Nova regular';
    font-weight: normal;
}
.card table.no-border-right>thead>tr>th,
.bundle .card table>thead.no-border-right>tr>th,
.card table.no-border-right>tbody>tr.inner-td>td{
    border-right: none !important;
}
.file-upload-filename{
    line-height: 30px;
}
/*------------ Bundle -----------*/

/*------------ customer -----------*/

.card table>tbody>tr.inner-td>td:first-child {
    width: 55px;
}

.table-total.text-left p {
    margin-left: unset;
    max-width: unset;
}

/*------------ customer -----------*/

/*------------ Live Lecture -----------*/

.live-lecture .table>tbody>tr.inner-td>td {
    padding-top: 20px;
    padding-bottom: 20px;
}

.live-action {
    display: none;
    background-color: #fff;
    border-radius: 3px;
    border: 0.5px solid #707fb8;
    box-shadow: 0px 3px 5px #b9b9b9;
    z-index: 1;
    top: -35px;
    right: -28px;
    width: auto;
    min-width: 270px;
}

.live-action::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -13px;
    left: 75%;
    box-sizing: border-box;
    border: 7px solid #707fb8;
    border-color: transparent transparent #fff #fff;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.live-action li:nth-child(1) {
    min-width: 100px;
}
.live-action li:last-child {
    border-right: none;
}
/* .live-action::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -22px;
    left: 62.5%;
    box-sizing: border-box;
    border: 24px solid #ffffff;
    border-color: transparent transparent #fff #fff;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    z-index: 0;
} */

.live-action-wrapper:hover .live-action {
    display: block;
}

.live-action li {
    padding: 5px;
    float: left;
    font-size: 14px;
    font-family: 'Proxima Nova regular';
    color: #9b9b9b;
    padding-bottom: 8px;
    border-right: 1px solid #707fb8;
    cursor: pointer;
}

.live-action li.active,
.live-action li:hover {
    background-color: #4361A5;
    color: #fff;
}

.live-lecture .checkbox-container {
    display: inline-block;
    margin: 0 auto;
    height: 20px;
    padding-left: 20px;
}

.live-lecture .sbHolder {
    display: block;
    margin-top: 15px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

/*------------ Live Lecture -----------*/

/*------------ Note -----------*/

.note .card table>tbody>tr>th:first-child {
    padding-left: 30px;
}

.note ul.action li {
    float: left;
    margin-left: 10px;
}

.note-model {
    top: 80px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

.note-model textarea {
    border-radius: 4px;
    resize: none;
}

.note-model .checkbox-container {
    margin-bottom: 0px;
    font-size: 15px;
    line-height: 27px;
}

.note.bundle table>tbody>tr.inner-td:first-child td:not(:last-child) {
    border-right: 1px solid rgba(112, 127, 184, 0.5);
}

.note.bundle .card table>thead>tr>th:first-child,
.note.bundle .card table>thead>tr>td:first-child {
    width: 130px;
}

/*------------ Note -----------*/

/*------------ faculty -----------*/

.faculty .card table>thead>tr>th,
.faculty .card table>tbody>tr>td {
    height: 60px;
    vertical-align: top;
}

.faculty .card table>tbody>tr.inner-td>td:first-child {
    vertical-align: middle;
}

.faculty .sbHolder {
    width: 100%;
}

.break-word,
table {
    word-break: break-word;
}


table {
    
    width: 100% !important;    
}

/*------------ faculty -----------*/

/*------------ Online_Course_Tracker -----------*/

.OCT .table>tbody>tr>td,
.OCT.table>tbody>tr>th,
.OCT.table>tfoot>tr>td,
.OCT.table>tfoot>tr>th,
.OCT.table>thead>tr>td,
.OCT.table>thead>tr>th {
    position: unset;
}

.OCT .checkbox-container {
    margin-left: 10px;
}

.OCT .live-action {
    left: -60px;
}

.alert-box {
    background-color: #fff;
    right: 100%;
    top: -5%;
    width: 230px;
    box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.3);
    display: none;
}

.alert-box-btn:hover .alert-box {
    display: block;
}

.alert-box p {
    font-size: 12px;
    text-align: center;
    padding: 7px 5px;
    margin-bottom: 0px;
    z-index: 1;
}

.alert-box::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 24px;
    right: -14px;
    box-sizing: border-box;
    border: 7px solid #707fb8;
    border-color: transparent transparent #fff #fff;
    transform-origin: 0 0;
    transform: rotate(-135deg);
    box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.3);
    z-index: 0;
}

/*------------ Online_Course_Tracker -----------*/

/*------------ pegination -----------*/

.pagination>li .arrow {
    position: relative;
}

.pagination>li .arrow img {
    top: -2px;
    position: relative;
}

.pagination>li>a,
.pagination>li>span ,
#listingTable_paginate > .paginate_button,
#listingTable_paginate .ellipsis,
#listingTable_paginate > span >.paginate_button{
    color: #ababab;
    font-size: 19px;
    border-radius: 0px !important;
    width: 55px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    border-top: 1px solid #9b9b9b;
    border-bottom: 1px solid #9b9b9b;
    border-left: 1px solid #9b9b9b;
    cursor: pointer !important;
}
#listingTable_paginate > .paginate_button:last-child {
    border-right: 1px solid #9b9b9b;

}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover .pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover,
#listingTable_paginate > .paginate_button:hover,
#listingTable_paginate .ellipsis:hover, 
#listingTable_paginate > span >.paginate_button:hover ,
#listingTable_paginate > .paginate_button:active,
#listingTable_paginate .ellipsis:active, 
#listingTable_paginate > span >.paginate_button:active ,
#listingTable_paginate > .paginate_button:focus,
#listingTable_paginate .ellipsis:focus, 
#listingTable_paginate > span >.paginate_button:focus,
#listingTable_paginate > span >.paginate_button.current,
#listingTable_paginate .ellipsis.active, 
#listingTable_paginate > span >.paginate_button.current 
{
    color: #4361a5;
    cursor: pointer;
    background-color: #f4f7ff;
    border-color: #9b9b9b;
    z-index: auto;
}

/*------------ pegination -----------*/

/*------------ card -----------*/

/*------------ Notice board -----------*/

.notice-lists li {
    padding: 7px 0px 8px 15px;
    margin-bottom: 5px;
}

.notice-lists li:last-child {
    margin-bottom: 0;
}

.notice-lists li:hover {
    background-color: #f4f7ff;
    cursor: pointer;
}

.notice-lists li p {
    margin-bottom: 0;
}

.notice-lists li small {
    display: block;
    margin-bottom: 0;
    font-size: 18px;
}

.notice-lists li p b {
    color: #4361A5;
    margin-right: 5px;
    opacity: 0.85;
}

.action-wrapper {
    position: absolute;
    background-color: transparent;
    z-index: 10;
    top: calc(50% - 19px);
    right: -5px;
    border-radius: 15px;
    display: none;
    transition: all 1s ease-in-out;
}

.action-wrapper ul {
    border-radius: 0px 35px 35px 0px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5) !important;
    width: 125px;
    display: flex;
    background-color: #fff;
    align-content: center;
    padding: 5px;
    border: 1px solid #e7e7e7;
}
.notice-lists.list-group.list-checkbox li .action-wrapper ul {
    width: 80px;
    border-radius: 35px 0px 0px 35px;
    padding-left: 10px;
    padding-top: 1px;
}
.notice-lists li:hover .action-wrapper{
    display: block;
}

.notice-lists.list-group.list-checkbox li:hover .action-wrapper {
    display: none;
}
.notice-lists.list-group.list-checkbox li .action-wrapper.active {
    display: inline-block;
    left: -90px;
    top: 3px;
    width: 80px
}

.action-wrapper ul li {
    margin-bottom: 0px;
    width: 33.33%;
    text-align: center;
    padding: 0px;
}
.notice-lists.list-group.list-checkbox li .action-wrapper ul li{
    width: 50%;
}
.action-wrapper ul li:hover {
    background-color: transparent;
}

li.pinned {
    background-color: #f4f7ff;
}

li.pinned img {
    position: absolute;
    right: 10px;
    top: 10px;
}

/*------------ Notice board -----------*/

/*------------Order Histroy -----------*/

.t-head,
.t-body {
    padding: 10px 30px;
}

.th {
    font-size: 15px;
    margin-bottom: 0px;
    font-family: 'Proxima Nova bold';
}

.th p,
.td p {
    font-size: 18px;
    margin-bottom: 0px;
    font-family: 'Proxima Nova medium';
    margin-top: 5px;
}

/*------------Order Histroy -----------*/

/*------------Report Executive Summary -----------*/

table.table.table-text-center>tbody>tr>td,
table.table.table-text-center>thead>tr>th {
    text-align: center !important;
}

.width-auto-1-column-140 .card table>tbody>tr.inner-td>td:first-child,
.width-auto-1-column-140 .card table>thead>tr>th:first-child {
    width: 140px;
}

.bundle table>tbody>tr.inner-td:first-child,
.bundle table>tbody>tr.inner-td:first-child td {
    border-bottom: 2px solid rgb(183, 190, 219);
}

/*------------Report Executive Summary -----------*/

/*------------Report Package Summary -----------*/

.width-auto-1-column .card table>thead>tr>th:first-child,
.width-auto-1-column .card table>thead>tr>td:first-child,
.width-auto-1-column .card table>tbody>tr.inner-td>td:first-child {
    width: auto;
}

/*------------Report Package Summary -----------*/

/*-----------Course Manage Course -----------*/

.CMC .sbHolder {
    width: auto;
}

/*-----------Course Manage Course -----------*/

/*-----------Course Add new Course -----------*/

.CANC .card table>thead>tr>th {
    padding: 8px;
}

/*-----------Course Add new Course -----------*/
/*-----------Users-Edit_User-Customize -----------*/
#Customize-Permissions{
    display: none;
}
/*-----------Users-Edit_User-Customize -----------*/

/*------------ scrollbar -----------*/

.mCSB_inside>.mCSB_container {
    margin-right: 20px;
}

.mCSB_container {
    overflow: unset;
}

.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #e3e7f1;
    background: #e3e7f1;
}

.mCSB_scrollTools .mCSB_draggerRail,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 10px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #93a4cb;
    background-color: #93a4cb;
}

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background: #627fc3;
    background-color: #627fc3;
}

.left-sidebar .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.left-sidebar .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.left-sidebar .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background: #9b9b9b;
    background-color: #9b9b9b;
}

.m-select * {
    box-shadow: none !important;
    border-radius: 0px !important;
}

.m-select {
    border-radius: 5px;
}

.m-select .mCSB_inside>.mCSB_container {
    padding: 10px;
}

.m-select a.mCSB_buttonDown,
.m-select a.mCSB_buttonUp {
    background-color: #4361a5;
    opacity: 1;
}

.m-select .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    opacity: 1;
    box-shadow: none;
    background-image: none;
}

.m-select .mCSB_draggerContainer {
    background-color: #d4d8ea !important;
    box-shadow: none !important;
}

.m-select .mCSB_dragger_bar {
    background-color: #707fbb !important;
    border-radius: 0px !important;
    margin: 0px !important;
    width: 100% !important;
}

/*------------ scrollbar -----------*/

/*------------ ckeckbox list -----------*/

.list-checkbox li:hover {
    background-color: transparent;
    cursor: text;
}

.list-checkbox li .checkbox-container {
    padding-left: 25px;
    margin-right: 7px;
    margin-bottom: 0px;
}

.list-checkbox p {
    font-size: 14px;
    line-height: 28px;
}

.list-checkbox .badge {
    font-weight: normal;
    background-color: #e7e7e7;
    color: #4a4a4a;
    padding: 5px 10px;
}

.plus-sign {
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-left: auto;
    display: inline-block;
}

.add-to-do-list-hide {
    display: none !important;
}

select.my-select[disabled]+.sbHolder a.sbSelector {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
    height: 28px;
    pointer-events: none;
}

/* -------- toggle button ------ */
.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 30px;
    margin-bottom: 0px;
}

.switch input[type="checkbox"] {
    display: none;
}

.switch input:checked+.knob {
    background-color: #1fab5b;
    border-color: #1fab5b;
}

.switch input:checked+.knob:before {
    transition: all 0.4s;
    left: 43px;
}
.switch input+.knob:before {
    transition: all 0.4s;
    left: 5px;
}

.knob {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(112, 127, 184, 0.15);
    border-radius: 30px;
    border: 1px solid rgb(112, 127, 184);
    
}

.knob:before {
    position: absolute;
    background-color: white;
    content: "";
    left: 6px;
    top: 3px;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px #434343;
}
.toggle-group {
    padding-bottom: 50px;
    margin-bottom: 0px;
}
.toggle-group.panel-group .panel+.panel,
.toggle-group.panel-group .panel {
    margin-top: 0px;
    border: none;
    border-radius: 0;
}
.toggle-group .panel-default>.panel-heading {
    background-color: #fff;
    padding: 0px;
}
.knob em {
    font-size: 13px;
    font-family: 'Proxima Nova regular';
    font-weight: normal;
    position: relative;
    display: block;
    text-align: right;
    font-style: normal;
    line-height: 25px;
    padding-right: 10px;
}
.sub-menu.switch input:checked+.knob em {
    text-align: left;
    padding-right: 0px;
}
.sub-menu .knob {
    text-indent: 10px;
    text-align: right;
    background-color: #707FB8;
}
.knob:hover {
    cursor: grab;
}
.knob:focus,
.knob:active{
    cursor: grabbing;
}

/* Added by swati */
.help-block.with-errors
{
    display: none; 
}
.has-error .help-block.with-errors
{
display: block;
    margin: 0px;
    transition  :all 0.3s ease-in-out
    
}
.has-error .help-block.with-errors .list-unstyled {  
    margin: 0;
    font-size: 14px;
}
.card table>thead>tr>th a{
    color: #4a4a4a;
}

/* End */

/*Edited by shesh*/
    .has-error input.form-control,
    .has-error .taget,
     .has-error .form-control + .sbHolder {
    border-color: #a94442;
}

/*LISTING TABLE*/
#listingTable_paginate {
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 15px;
}


/*LISTING TABLE 2*/
#listingTable2_paginate {
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 15px;
}
#listingTable2_paginate > .paginate_button ,
#listingTable2_paginate > span >.paginate_button{
    display: inline-block;
    width: 40px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #9b9b9b;
    border-bottom: 1px solid #9b9b9b;
    border-left: 1px solid #9b9b9b;
    color: #4361a5;
    font-size: 19px;
    cursor: pointer !important;
}
#listingTable2_paginate > .paginate_button:last-child {
    border-right: 1px solid #9b9b9b;

}
#listingTable2_paginate > span >.paginate_button.current {
    background-color: #f4f7ff;
}


#userListingTable_paginate {
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 15px;
}
#userListingTable_paginate > .paginate_button ,
#userListingTable_paginate > span >.paginate_button{
    display: inline-block;
    width: 40px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #9b9b9b;
    border-bottom: 1px solid #9b9b9b;
    border-left: 1px solid #9b9b9b;
    color: #4361a5;
    font-size: 19px;
    cursor: pointer !important;
}
#userListingTable_paginate > .paginate_button:last-child {
    border-right: 1px solid #9b9b9b;

}
#userListingTable_paginate > span >.paginate_button.current {
    background-color: #f4f7ff;
}

#listingTable_info {
    margin: 0;
    padding: 20px 20px 20px 30px;
}

div#listingTable_processing, div#userListingTable_processing {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(165, 165, 165, 0.5);
    z-index: 999999;
    pointer-events: none;
    text-align: center;
    padding-top: 12%;
    
    color: #000000;
}


/*End*/

/*calender*/
.calendar-pop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    padding: 15px;
    padding-top: 70px;
}
.calendar-pop .modal-dialog {
    width: 100%;
    margin: 0px;
}
.calendar-pop .modal-body {
    border-bottom: 0px;
}
.calendar-pop .modal-body p{
    font-size: 15px;
    padding-left: 20px;
    position: relative;
}
.calendar-pop .modal-body p::after{
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: 4px;
    left: 5px;
}
.calendar-pop .modal-body p.green::after{
    background-color: #1fab5b;
}
.calendar-pop .modal-body p.orange::after{
    background-color: #ffb400;
}
.calendar-pop .model-footer {
    padding: 15px;
    text-align: right;
}
.calendar-pop .modal-dialog .modal-header {
    text-align: center;
}

/*-------30-05-19 Vinod---------*/
ul#todoList ul.list-group.list-checkbox li{
    padding: 0;
}
span.error-po {
    position: absolute;
    bottom: 2px;
}

/* --------10-06-19------------------- */
#addUser .sbHolder {
    border: 1px solid #707fb8 !important;
}
#addUser .sbHolder .sbSelector{
    font-weight: normal;
}
#calender_view .close {
    font-size: 40px;
    line-height: 30px;
}
.bundle table>tbody>tr.inner-td td .number{
    width: 30px;
    line-height: 30px;
    padding: 0;
}